// colors
$color-primary-light: hsl(193, 38%, 86%);
$color-primary-neon: hsl(150, 100%, 66%);

$color-grayish-blue: hsl(217, 19%, 38%);
$color-dark-grayish-blue: hsl(217, 19%, 24%);
$color-dark-blue: hsl(218, 23%, 16%);

// defaults
$font-family: 'Manrope Variable', serif;
$font-weight: 800;
$font-size: 28px;

// breakpoints
$mobile: 576px;
